@use "sass:math";
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  .infoListComponent{
    min-width: fit-content;
      .tableTitles{
          font-size: 10px;
      }
      .customerInfo{
          cursor: pointer;
      }
      .customerInfoSelected{
          font-weight: bold;
      }
  }

@media only screen and (min-width:768px) {
    .infoListComponent{
          .tableTitles{
              font-size: 15px;
          }
      }
  }
