.app {
  margin: 20px 10px;
  text-align: center;
  .formComponentStyle{
    margin-left: 20%;
  }
  .title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0px;
  }
  .infoListsContainer {
    border: 1px solid black;
}
.customerSelected{
  color: red;
    text-align-last: center;
}
}

@media only screen and (min-width:768px) {
  .app {
    margin: 20px 40px;
    .title{
      font-size: 30px;
    }
    
  }
}
